* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: white;
}

button {
    transition: transform 0.2s ease;
}

button:active {
    transform: scale(0.9);
}

@font-face {
    font-family: "MyFont";
    src: url("./assets/fonts/Inter_18pt-Medium.ttf") format("truetype");
}

html {
    font-size: 62.5%;
    font-family: "MyFont";
    overflow-x: hidden;
}

body {
    background-color: white;
    overflow-x: hidden;
}

.Header {
    width: 100%;
}

.container {
    max-width: 115rem;
    margin: auto;
    display: flex;
    padding: 1.5rem 0;
}

.header1 {
    width: 70%;
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    color: #3C2A5A;
}

.icon-nav {
    font-size: 25px;
    margin-right: 5px;
}

.icon-nav1 {
    font-size: 25px;
    margin-right: 5px;
}

.one {
    display: flex;
    align-items: center;
}

.two {
    display: flex;
    align-items: center;
}

.three {
    display: flex;
    align-items: center;
}

.header2 {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
    color: #3C2A5A;
}

.header2 button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.m1 {
    display: flex;
    align-items: center;
}

@font-face {
    font-family: logoh1;
    src: url(assets/fonts/bodoni-72-book.ttf);
}

/* Overlay fade-in animation */
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #EAB8E4;
    padding: 4%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    z-index: 1000;
}

/* Search box inside overlay */
.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box label {
    font-size: 14px;
    font-weight: 500;
    color: #3C2A5B;
    font-family: Magic;
}

/*  input wrapper for icon */
.input-wrapper {
    position: relative;
    flex: 1;
}

.input-wrapper input {
    width: 100%;
    padding: 7px 40px 7px 15px;
    /* right padding for icon */
    font-size: 14px;
    font-family: Magic;
    border-radius: 25px;
    border: none;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #3C2A5B;
    cursor: pointer;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* hero section */

.image-container {
    background-image: url("images/bg-image.png") !important;
    background-size: cover;
    background-position: center;
    height: auto;
    color: white;
    width: 100%;
    font-family: logoh1;
}

.logo {
    width: 30%;
}

.logo h1 {
    font-family: logoh1;
    font-size: 45px;
}

.menu {
    display: flex;
    width: 70%;
    gap: 25px;
    justify-content: end;
    align-items: center;
    font-size: 1.4rem;
    font-family: Magic;
}

.menu2 {
    display: none;
    width: 70%;
    gap: 25px;
    justify-content: end;
    align-items: center;
    font-size: 1.4rem;
    font-family: Magic;
}

.hero-text {
    width: 50%;
    margin: auto;
    padding: 10% 0;
    text-align: center;

}

.hero-text h1 {
    font-size: 6rem;
}

.hero-text h6 {
    font-size: 1.8rem;
    padding: 0 40px;
    margin-top: 10px;
    font-family: Magic;
}

@font-face {
    font-family: Magic;
    src: url(assets/fonts/NeueMontreal-Regular.otf);
}

.hero-text button {
    font-size: 1.8rem;
    padding: 8px 15px;
    border-radius: 10px;
    font-family: Magic;
    border: none;
    font-weight: 300;
    color: #3C2A5B;
    margin-top: 20px;
    margin-bottom: 15%;

}

.btn-desktop {
    display: inline-block;
}

.btn-mobile {
    display: none;
}

/* Slider container */
.slider {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* Slide list */
.list {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: 100%;
    transition: left 1s ease;
}

/* Each slide */
.item {
    flex: 0 0 100%;
    height: 100%;
}



/* Dots navigation */
.dots {
    position: absolute;
    bottom: 4%;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #6d6b6b;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dots li.active {
    width: 30px;
    border-radius: 15px;
    background-color: white;
}

/* collection catogery */

.collection-section {
    max-width: 118rem;
    margin: auto;
    padding: 1.5rem 0rem;
}

.collection-section h1 {
    font-size: 38px;
    color: #6B0572;
    font-family: logoh1;
    margin-top: 10px;
    margin-bottom: 30px;
}

.collection-box {
    display: flex;
    gap: 10px;
}

.collection {
    width: 100%;
    height: auto;
}

.circle-box {
    background-color: #EAB8E4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 120px;
    margin: auto;
}

.circle-box:hover {
    background-color: #6B0572;
}

.collection img {
    width: 80px;
    height: auto;
}

.circle-text h4 {
    text-align: center;
    font-family: outfit;
    font-size: 1.5rem;
    color: #6B0572;
    margin-top: 10px;
}

.collection-slider {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding: 0rem 0 3rem 0;
}

/* ---- Updated Scrollable List ---- */
.collection-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar */
.collection-list::-webkit-scrollbar {
    display: none;
}

.collection-list {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.collection-item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
}

.collection-page {
    flex: 0 0 auto;
    display: flex;
    gap: 20px;
}

.collection-page .collection {
    width: 150px;
    text-align: center;
}

/* Dots */
.collection-dots {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.collection-dots li {
    list-style: none;
    width: 35px;
    height: 7px;
    background-color: #bbb;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.collection-dots li.active {
    width: 120px;
    background-color: #6B0572;
}

/* cards */
.cards {
    width: 100%;
    display: flex;
    gap: 15px;

}

.cards-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.cards-heading button {
    border: 1px solid rgb(199, 198, 198);
    color: #3C2A5A;
    background-color: transparent;
    font-family: Magic;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    height: 35px;

}

.cards-heading button:hover {
    color: white;
    background-color: #3C2A5A;
}

.collection-cards h4 {
    order: 1;
}

.collection-cards .price {
    order: 2;
}

.collection-cards .discription {
    order: 3;
}

.collection-cards {
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.off button {
    background-color: #3C2A5A;
    color: #D6A3E8;
    border: none;
    font-family: Magic;
    padding: 8px 10px;
    font-size: 11px;
    border-radius: 25px;
    position: absolute;
    top: 2%;
    left: 76%;
}

.collection-cards img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@font-face {
    font-family: outfit;
    src: url(assets/fonts/Outfit-Medium.ttf);
}

.collection-cards h4 {
    font-family: outfit;
    font-size: 2.5rem;
    font-weight: 500;
    color: #3C2A5A;
    margin-top: 20px;
    margin-bottom: 10px;

}

.price {
    display: flex;
    color: #3C2A5A;
    font-family: outfit;
    gap: 5px;

}

.price h6 {
    font-size: 19px;
    margin-top: 7px;
}

.price h5 {
    font-size: 25px;
    font-weight: bold;
}

.price span {
    text-decoration: line-through;
    font-size: 19px;
    margin-top: 3px;
    color: #EB5757;
}

.discription {
    display: flex;
    gap: 5px;
    font-family: outfit;
    align-items: center;
}

.collection-name,
.collection-gift {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
    padding: 9px 7px 7px 7px;
    display: inline-block;
}

.collection-name {
    background-color: #FFEBF7;
    color: #3C2A5A;
}

.collection-gift {
    background-color: #E6E6FA;
    color: #3C2A5A;
}

.collection-name:hover,
.collection-gift:hover {
    opacity: 0.9;
}

/* about section */
.about {
    width: 100%;
    padding: 2rem 0rem;
    background-color: #6B0572;
    color: white;
}

.about-img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    margin-left: 1rem;
    position: relative;
}

.about-img img {
    width: 100%;
    height: 620px;
    border-radius: 15px;
}

.about-text {
    margin: 0rem 2rem;
    width: 50%;
    text-align: center;
    padding-top: 5%;
}

.about-text h1 {
    color: white;
    font-size: 38px;
    font-family: logoh1;
    margin-top: 10px;
    margin-bottom: 40px;
}

.img-text {
    display: flex;
}

.about-text button {
    border: 2px solid white;
    font-family: outfit;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border-radius: 25px;
    padding: 8px 15px;
    margin-bottom: 3%;
}

.about-img-slider {
    position: relative;
    width: 100%;
    height: 620px;
    overflow: hidden;
    border-radius: 15px;
}

.about-img-slider img {
    width: 100%;
    display: none;
    transition: opacity 0.8s ease-in-out;

}

.about-img-slider img.active {
    display: block;
    opacity: 1;
}

.slider-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 20px;
    left: 38%;

}

.slider-dots .dot {
    display: inline-block;
    height: 6px;
    border-radius: 4px;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-dots .dot.active {
    width: 70px;
    background-color: #bbb;
}

.slider-dots .dot:not(.active) {
    width: 20px;
}

/* Vase collection */

.Vase {
    display: flex;
    width: 100%;
    gap: 20px;
}

.vase-img {
    width: 60%;
    margin-left: 1rem;
    height: 600px;
    background-image: url("images/vase-img.png") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: end;
    border-radius: 10px;
}

.vase-text {
    color: white;
}

.vase-btns {
    display: none;
    margin: 10px;
    gap: 5px;
}

.vase-btns button {
    border: 0;
    padding: 8px 15px;
    border-radius: 25px;
    font-family: outfit;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    background-color: #6B0572;
}

.expo button {
    border: 1.5px solid #FFFFFF66;
    padding: 8px 15px;
    border-radius: 25px;
    font-family: outfit;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    background-color: transparent;
}

.vase-img img {
    width: 100%;
    height: 600px;
    border-radius: 15px;
}

.vase-detail {
    width: 40%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.vase-detail::-webkit-scrollbar {
    display: none;
}


.flow {
    display: flex;
    padding: 1rem;
    border: 1.5px solid #6B05723D;
    border-radius: 15px;
    gap: 20px;
    width: 100%;
}

.flow1 {
    width: 45%;
    height: auto;
    position: relative;
}

.flow2 {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.flow2 h2 {
    order: 1;
}

.flow2 .price {
    order: 2;
}

.flow2 .addtocart {
    order: 4;
}

.flow .discription {
    margin-top: 5px;
    order: 3;
}

.flow1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.flow1 button {
    background-color: #3C2A5A;
    color: #D6A3E8;
    border: none;
    font-family: Magic;
    padding: 7px;
    font-size: 11px;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    left: 64%;
}

.addtocart button {
    border: 1.5px solid #6B05723D;
    background-color: white;
    font-size: 18px;
    border-radius: 15px;
    padding: 8px 15px;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

.addtocart button:hover {
    background-color: #3C2A5B;
    color: #D6A3E8;
}

.flow2 h2 {
    color: #3C2A5A;
    font-family: outfit;
}

@font-face {
    font-family: GeneralSans;
    src: url(assets/fonts/GeneralSans-Medium.otf);
}

.review-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 20px;
}

.Review1 {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 25px;
}

.R1 {
    width: 100%;
    height: auto;
    border: 1.5px solid #6B05723D;
    padding: 1.5rem;
    border-radius: 15px;
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile {
    width: 50%;
    display: flex;
    gap: 10px;
}

.profile-img {
    width: 28%;
}

.profile-img img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.profile-text {
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.profile-name h4 {
    font-size: 1.8rem;
    color: #3C2A5A;
    font-family: GeneralSans;
    margin-bottom: 2px;
}

.profile-date {
    font-size: 11px;
    color: #87878C;
    font-family: GeneralSans;
}

.liked {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: GeneralSans;
    justify-content: end;
    align-items: center;
}

.icon-text {
    font-size: 14px;
}

.icon-text:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.liked button {
    border: none;
    background-color: transparent;
}

.liked button img {
    width: 20px;
}

.rating-star {
    margin-top: 15px;
    margin-bottom: 10px;
}

.R1-text {
    font-size: 16px;
    font-family: outfit;
    color: #3C2A5A;
    margin-bottom: 20px;
}

.R1-imgs {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.R11-img {
    width: 25%;
    height: 80px;
}

.R11-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.R12-img {
    width: 35%;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.R12-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.R12-img button {
    background-color: transparent;
    border: none;
    position: absolute;
}

.R12-img button img {
    width: 50px;
}

.R1-button {
    display: flex;
    gap: 6px;
}

.orignal button,
.best button,
.recommend button {
    border: 1px solid #6B05723D;
    color: #6E6E73;
    background-color: transparent;
    padding: 5px 12px;
    border-radius: 25px;
    font-size: 14px;
}

.btn-darkpurple button {
    background-color: #3C2A5A;
    border: 1px solid #6B05723D;
    color: white;
    padding: 5px 12px;
    border-radius: 25px;
    font-size: 14px;
}

.R2 {
    width: 100%;
    height: auto;
    border: 1.5px solid #6B05723D;
}

.R3 {
    width: 100%;
    height: auto;
    border: 1.5px solid #6B05723D;
}

.footer {
    width: 100%;
    padding: 2rem;
    background-image: url('images/footer-img.png') !important;
    background-size: cover;
    background-position: center;
    height: auto;
    color: white;
}

.footer-text {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 7%;
}

.footer-text h1 {
    font-size: 4.4rem;
    font-family: logh1;
}

.footer-text h6 {
    margin-top: 12px;
    font-size: 24px;
    width: 70%;
    margin: auto;
    font-family: outfit;
}

.footer-btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px 0;
}

.footer-btn button {
    border: 1.5px solid #FFFFFF66;
    padding: 8px 15px;
    border-radius: 15px;
    font-family: outfit;
    font-size: 20px;
    font-weight: lighter;
    color: #2F2F2F;
    background-color: white;
}

.insta button {
    border: 1.5px solid #FFFFFF66;
    padding: 8px 15px;
    border-radius: 15px;
    font-family: outfit;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    background-color: transparent;
}

.insta button:hover {
    color: #2F2F2F;
    background-color: white;
}

.Mora-footer {
    margin-top: 8%;
    background-color: white;
    border-radius: 15px;
    color: #2F2F2F;
}

.Mora-section {
    display: flex;
    padding: 3rem;
}

.footer1 {
    width: 57%;
}

.footer1 h1 {
    font-family: logoh1;
    font-size: 5rem;
    margin: 10px 0;
}

.footer1 h6 {
    font-size: 20px;
    font-family: outfit;
    width: 55%;
    margin-bottom: 20px;
}

.insta-icon {
    border: 1.5px solid #6B05723D;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}

.icon-size {
    font-size: 25px;
}

.footer2 {
    width: 43%;
    display: flex;
    gap: 30px;
}

.footer2 li {
    list-style: none;
    line-height: 2;
}

.footer2 li a {
    font-size: 18px;
    color: #2F2F2F;
    font-family: outfit;
    font-weight: 500;
    text-decoration: none;

}

.footer21 {
    width: 50%;
}


.footer22 {
    width: 50%;
}

.pay-cards {
    display: flex;
    width: 100%;
    gap: 5px;
}

.pay-cards img {
    width: 40px;
    height: auto;
}

.MORA-img {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.MORA-img img{
    width: 100%;
    height: auto;
}
