@media (min-width:320px) and (max-width:575.92px) {
    .header2 {
        display: none;
    }

    .three {
        display: none;
        align-items: center;
    }

    .header1 {
        width: 100%;
        display: flex;
        gap: 3rem;
        font-size: 1.5rem;
        color: #3C2A5A;
    }

    .icon-nav {
        font-size: 20px;
        margin-right: 3px;
    }

    .one {
        display: flex;
        width: 60%;
        align-items: center;
        text-align: center;
    }

    .two {
        width: 40%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .menu {
        display: none;
        width: 70%;
        gap: 25px;
        justify-content: end;
        align-items: center;
        font-size: 1.4rem;
        font-family: Magic;
    }

    .menu2 {
        display: flex;
        width: 70%;
        gap: 10px;
        justify-content: end;
        align-items: center;
        font-size: 1.4rem;
        font-family: Magic;
    }

    .icon-nav1 {
        font-size: 25px;
        margin-right: 5px;
    }

    .hero-text h6 {
        display: none;
    }

    .btn-desktop {
        display: none;
    }

    .btn-mobile {
        display: inline-block;
    }

    .dots li {
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: #6d6b6b;
        margin: 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
    }

    .collection img {
        width: 55px;
        height: auto;
    }

    .circle-box {
        background-color: #EAB8E4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 85px;
        margin: auto;
    }

    .collection-item {
        flex: 0 0 auto;
        width: 100px;
        text-align: center;
    }

    .collection-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    .collection-cards h4 {
        order: 2;
    }

    .collection-cards .price {
        order: 1;

    }

    .price h6 {
        font-size: 16px;
        margin-top: 7px;
    }

    .price h5 {
        font-size: 22px;
        font-weight: bold;
    }

    .price span {
        text-decoration: line-through;
        font-size: 16px;
        margin-top: 3px;
        color: #EB5757;
    }

    .about-img {
        display: none;
        width: 50%;
        height: auto;
        border-radius: 15px;
        margin-left: 1rem;
        position: relative;
    }

    .about-text {
        margin: 0rem 2rem;
        width: 100%;
        text-align: center;
        padding-top: 5%;
    }

    .about-text button {
        margin-bottom: 5%;
        font-size: 13px;
    }

    .Vase {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .vase-img img {
        width: 100%;
        height: 400px;
        border-radius: 15px;
    }

    .vase-img {
        width: 100%;
        margin-left: 0rem;
        height: 300px;
        background-image: url("/images/vase-img.png") !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: start;
        align-items: end;
        border-radius: 10px;
    }

    .vase-detail {
        width: 100%;
        margin-right: 0;
        display: flex;
        flex-direction: row;
        gap: 10px;
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }


    .vase-detail::-webkit-scrollbar {
        display: none;
    }

    .addtocart button {
        display: none;
    }

    .flow2 h2 {
        color: #3C2A5A;
        font-family: outfit;
        font-size: 15px;
    }

    .collection-name,
    .collection-gift {
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 25px;
        font-size: 7px;
        padding: 9px 7px 7px 7px;
        display: inline-block;
    }

    .price h6 {
        font-size: 12px;
        margin-top: 7px;
    }

    .price h5 {
        font-size: 16px;
        font-weight: bold;
    }

    .flow1 button {
        background-color: #3C2A5A;
        color: #D6A3E8;
        border: none;
        font-family: Magic;
        padding: 7px;
        font-size: 8px;
        width: 60px;
        border-radius: 25px;
        position: absolute;
        top: 5%;
        left: 34%;
    }

    .flow1 img {
        height: auto;
    }

    .price span {
        margin-top: 0px;
    }

    .price {
        gap: 3px;

    }

    .flow2 h2 {
        order: 2;
    }

    .flow2 .price {
        order: 1;
    }

    .vase-btns {
        display: flex;
        margin: 10px;
        gap: 5px;
    }

    .review-cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 15px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;

    }

    .review-cards::-webkit-scrollbar {
        height: 8px;
    }

    .review-cards::-webkit-scrollbar-track {
        background: #B582B9;
        border-radius: 10px;
    }

    .review-cards::-webkit-scrollbar-thumb {
        background: #6B0572;
        border-radius: 10px;
    }

    .R1 {
        min-width: 300px;
        max-width: 300px;
        flex-shrink: 0;
        height: auto;
        border: 1.5px solid #6B05723D;
        padding: 1rem;
        border-radius: 15px;
    }


    .Review1 {
        display: flex;
        flex-direction: row;
        width: 720px;
        gap: 15px;
    }

    .orignal button,
    .best button,
    .recommend button {
        border: 1px solid #6B05723D;
        color: #6E6E73;
        background-color: transparent;
        padding: 5px 12px;
        border-radius: 25px;
        font-size: 12px;
    }

    .btn-darkpurple button {
        background-color: #3C2A5A;
        border: 1px solid #6B05723D;
        color: white;
        padding: 5px 12px;
        border-radius: 25px;
        font-size: 12px;
    }

    .R1-text {
        font-size: 14px;
        font-family: outfit;
        color: #3C2A5A;
        margin-bottom: 20px;
    }

    .Mora-section {
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }

    .footer1 {
        width: 100%;
        margin-bottom: 3%;
        text-align: center;

    }

    .footer1 h6 {
        font-size: 16px;
        font-family: outfit;
        width: 100%;
        margin-bottom: 20px;
    }

    .footer21 ul {
        padding: 0%;
        margin: 0;
    }

    .footer22 ul {
        padding: 0%;
        margin: 0;
    }

    .footer2 li {
        list-style: none;
        line-height: 2.8;
    }

    .footer2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding-top: 4%;

    }

    .footer2 li a {
        font-size: 15px;
        color: #2F2F2F;
        font-family: outfit;
        font-weight: 500;
        text-decoration: none;
    }

    .insta-icon {
        display: none;
    }

    .footer21 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pay-cards {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 5px;

    }

    .footer22 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* login page */
    .login-image {
        display: none;
    }

    .Login-form {
        width: 100%;
        height: auto;
        margin: 25% auto 25% auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-content {
        width: 95%;
        margin: auto;
        border: 1px solid #0000003D;
        border-radius: 12px;
        padding: 5rem 2rem;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(2px);
        z-index: 2;
    }

    .login-heading h1 {
        font-size: 4.5rem;

    }

    .vector-box {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .continue button {
        margin-top: 8%;
    }

    .google button {
        margin-top: 8%;
    }

    
}

@media (min-width:320px) and (max-width:380px) {
    .header1 {
        width: 100%;
        display: flex;
        gap: 3rem;
        font-size: 1rem;
        color: #3C2A5A;
    }

    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text {
        width: 95%;
        margin: auto;
        padding: 10% 0;
        text-align: center;
    }

    .collection-section h1 {
        font-size: 22px;
        color: #6B0572;
        font-family: logoh1;
        margin-bottom: 20px;
    }

    .collection-cards h4 {
        font-family: outfit;
        font-size: 2rem;
        font-weight: 500;
        color: #3C2A5A;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cards {
        width: 100%;
        display: flex;
        gap: 15px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
    }

    .collection-cards {
        flex: 0 0 98%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        scroll-snap-align: start;
    }



    .cards::-webkit-scrollbar {
        height: 8px;
    }

    .cards::-webkit-scrollbar-track {
        background: #B582B9;
        border-radius: 10px;
    }

    .cards::-webkit-scrollbar-thumb {
        background: #6B0572;
        border-radius: 10px;
    }

    .about-text h1 {
        color: white;
        font-size: 15px;
        font-family: logoh1;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .flow {
        display: flex;
        padding: 4px;
        border: 1.5px solid #6B05723D;
        border-radius: 15px;
        gap: 10px;
        width: 90%;
        height: 100%;
        flex-shrink: 0;
    }

    .footer-btn button {
        border: 1.5px solid #FFFFFF66;
        padding: 8px 15px;
        border-radius: 15px;
        font-family: outfit;
        font-size: 14px;
        font-weight: 500;
        color: #2F2F2F;
        background-color: white;
    }

    .footer-text {
        width: 97%;
        margin: auto;
        text-align: center;
        margin-top: 7%;
    }

    .footer-text h1 {
        font-size: 2.8rem;
        font-family: logh1;
    }

    .footer-text h6 {
        margin-top: 15px;
        font-size: 15px;
        width: 100%;
    }

    .insta button {
        border: 1.5px solid #FFFFFF66;
        padding: 8px 15px;
        border-radius: 15px;
        font-family: outfit;
        font-size: 14px;
        font-weight: 500;
        color: white;
        background-color: transparent;
    }

    /* login page */

    .upper-img {
        width: 200px;
        height: auto;
        transform: rotate(19deg);
        position: absolute;
        left: 60%;
        top: -13%;
        z-index: 1;
    }

    .lower-img {
        width: 200px;
        height: auto;
        transform: rotate(207deg);
        position: absolute;
        left: -19%;
        top: 82%;
        z-index: 1;
    }
    .form-content h6 {
        font-size: 12px;
        margin-top: 10%;
    }
    .input-box input {
    font-size: 12px;
}
    .input-box {
        margin-top: 15%;
    }
}


@media (min-width:380.92px) and (max-width:576px) {
    .header1 {
        width: 100%;
        display: flex;
        gap: 3rem;
        font-size: 1.3rem;
        color: #3C2A5A;
    }

    .hero-text h1 {
        font-size: 6rem;
    }

    .hero-text {
        width: 90%;
        margin: auto;
        padding: 10% 0;
        text-align: center;
    }

    .collection-section h1 {
        font-size: 25px;
        color: #6B0572;
        font-family: logoh1;
        margin-bottom: 20px;
    }

    .collection-cards h4 {
        font-family: outfit;
        font-size: 1.6rem;
        font-weight: 500;
        color: #3C2A5A;
        margin-top: 7px;
        margin-bottom: 10px;
    }

    .cards {
        width: 100%;
        display: flex;
        gap: 15px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
    }

    .collection-cards {
        flex: 0 0 48%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        scroll-snap-align: start;
    }

    .cards::-webkit-scrollbar {
        height: 8px;
    }

    .cards::-webkit-scrollbar-track {
        background: #B582B9;
        border-radius: 10px;
    }

    .cards::-webkit-scrollbar-thumb {
        background: #6B0572;
        border-radius: 10px;
    }

    .about-text h1 {
        color: white;
        font-size: 15px;
        font-family: logoh1;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .flow {
        display: flex;
        padding: 4px;
        border: 1.5px solid #6B05723D;
        border-radius: 15px;
        gap: 10px;
        width: 70%;
        height: 100%;
        flex-shrink: 0;
    }

    .off button {
        background-color: #3C2A5A;
        color: #D6A3E8;
        border: none;
        width: 70px;
        font-family: Magic;
        padding: 8px 10px;
        font-size: 11px;
        border-radius: 25px;
        position: absolute;
        top: 3%;
        left: 55%;
    }

    .footer-btn button {
        border: 1.5px solid #FFFFFF66;
        padding: 8px 15px;
        border-radius: 15px;
        font-family: outfit;
        font-size: 14px;
        font-weight: 500;
        color: #2F2F2F;
        background-color: white;
    }

    .footer-text {
        width: 97%;
        margin: auto;
        text-align: center;
        margin-top: 7%;
    }

    .footer-text h1 {
        font-size: 3rem;
        font-family: logh1;
    }

    .footer-text h6 {
        margin-top: 15px;
        font-size: 18px;
        width: 100%;
    }

    .insta button {
        border: 1.5px solid #FFFFFF66;
        padding: 8px 15px;
        border-radius: 15px;
        font-family: outfit;
        font-size: 14px;
        font-weight: 500;
        color: white;
        background-color: transparent;
    }

     /* login page */

    .upper-img {
        width: 200px;
        height: auto;
        transform: rotate(19deg);
        position: absolute;
        left: 66%;
        top: -13%;
        z-index: 1;
    }

    .lower-img {
        width: 200px;
        height: auto;
        transform: rotate(207deg);
        position: absolute;
        left: -19%;
        top: 83%;
        z-index: 1;
    }
    .form-content h6 {
        font-size: 14px;
        margin-top: 10%;
    }
     .input-box input {
    font-size: 14px;
}
    .input-box {
        margin-top: 10%;
    }
}

@media (min-width:320px) and (max-width:420.92px) {

    .cards-heading button {
        border: 1px solid #D6A2E8;
        color: #3C2A5A;
        background-color: transparent;
        font-family: Magic;
        padding: 0px 14px;
        font-size: 10px;
        border-radius: 10px;
        height: 30px;
    }



}

@media (min-width:421px) and (max-width:480px) {


    .cards-heading button {
        border: 1px solid #D6A2E8;
        color: #3C2A5A;
        background-color: transparent;
        font-family: Magic;
        padding: 0px 19px;
        font-size: 10px;
        border-radius: 10px;
        height: 35px;
    }

}

@media (min-width:480px) and (max-width:575.92px) {
    .hero-text {
        width: 75%;
        margin: auto;
        padding: 10% 0;
        text-align: center;
    }

    .collection-section h1 {
        font-size: 34px;
        color: #6B0572;
        font-family: logoh1;
        margin-bottom: 20px;
    }

    .about-text h1 {
        color: white;
        font-size: 15px;
        font-family: logoh1;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .cards-heading button {
        border: 1px solid #D6A2E8;
        color: #3C2A5A;
        background-color: transparent;
        font-family: Magic;
        padding: 0px 22px;
        font-size: 10px;
        border-radius: 10px;
        height: 35px;
    }


}
@media (min-width:380px) and (max-width:450.92px){
 .upper-img {
        width: 200px;
        height: auto;
        transform: rotate(19deg);
        position: absolute;
        left: 65%;
        top: -13%;
        z-index: 1;
    }

    .lower-img {
        width: 200px;
        height: auto;
        transform: rotate(207deg);
        position: absolute;
        left: -13%;
        top: 82%;
        z-index: 1;
    }
}
@media (min-width:451px) and (max-width:575.92px){
    .upper-img {
        width: 200px;
        height: auto;
        transform: rotate(19deg);
        position: absolute;
        left: 75%;
        top: -13%;
        z-index: 1;
    }
    .lower-img {
        width: 200px;
        height: auto;
        transform: rotate(207deg);
        position: absolute;
        left: -10%;
        top: 85%;
        z-index: 1;
    }

}